qrc_resources.cpp
qrc_resources.o
Yugioh/compile_ui.sh
build-Yugioh-Desktop-Debug/
Yugioh/Yugioh.pro.user
build-Yugioh-Desktop_Qt_5_15_2_GCC_64bit-Debug/
.vscode
.qmake.stash
Card.o
Game.o
Makefile
Monstercard.o
Player.o
Spellcard.o
Trapcard.o
main.o
qrc_resources.cpp
qrc_resources.o
