qrc_resources.cpp
qrc_resources.o
build-Yugioh-Desktop-Debug/
Yugioh/Yugioh.pro.user
Yugioh/a.out
Yugioh/Yugioh
Yugioh/yugioh-server/yugioh-server.pro.user
Yugioh/yugioh-server/Makefile 
Yugioh/build-yugioh-server-Desktop-Debug
build-Yugioh-Desktop_Qt_6_4_1_GCC_64bit-Debug/
build-Yugioh-Desktop_Qt_5_15_2_GCC_64bit-Debug/
build-Yugioh-Desktop_Qt_5_15_2_GCC_64bit-Release/
build*
.vscode
.qmake.stash
Card.o
Game.o
Makefile
Monstercard.o
Player.o
Spellcard.o
Trapcard.o
main.o
qrc_resources.cpp
qrc_resources.o
build
Yugioh/build
